* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
}

/* HEADER */
.top-nav-section {
	background: #2B3035;
}
.top-nav-bar-item {
	font-size: 25px;
	
}
.nav-bar-link {
	color: gray;
	text-decoration: none;
}
.nav-bar-link:hover {
	color:hsla(334, 59%, 60%);
	transition: 1.5s ease;
}
/* CLOSE HEADER */
/* MAIN */
.projects-section {
	background-color: rgb(27, 21, 110);
}
.projects-section h3 {
	display: none;
}
.project-body {
	border: none;
}
.screenshot{
	width: 20rem;
	height: 20rem;
	max-width: 100%;
}
.screenshot-box {
	border: 2px solid silver;
	margin: 10px;
}
.screenshot-box:hover {
	opacity: 85%;
	border-width: 10px;
	border-style: inset;
	transition: .5s ease-in;
}
/* fonts for logos

font-family: 'Pattaya', sans-serif; (aditii)
font-family: 'Sacramento', cursive; (bloom)
font-family: 'Urbanist', sans-serif; (graphics umbrella)*/
.projects-logo {
	margin: 0 auto;
}
.img-logo {
	width: 500px;
}
#venedor-block {
	border-bottom: 5px solid #14bfcc;
}
#aditii-logo {
	font-family: 'Pattaya', sans-serif;
	font-size: 10rem;
	color: #44b4a1;
}
#aditii-block {
	border-bottom: 5px solid #44b4a1;
}
#umbrella-block {
	border-bottom: 5px solid #a0c63f;
}
#umbrella-logo {
	font-family: 'Urbanist', sans-serif;
	font-size: 3rem;
	width: fit-content;
}
#graphics-word {
	color: #a0c63f;
}
#bloom-logo {
	font-family: 'Sacramento', cursive;
	font-size: 4rem;
	color: #23262a;
}
#bloom-block {
	border-bottom: 5px solid palevioletred;
}
#detroix-block {
	/* background-color: #f2f3f5; */
	border-bottom: 5px solid #ff8810;
}
#detroix-logo {
	color: #1a2952;
	font-family: 'Lobster', cursive;
	font-size: 9rem;
}
#restaurant-block {
	border-bottom: 5px solid #e74b43;
}
#restaurant-logo {
	font-weight: 800;
	font-size: 5rem;
	/* color: #fff8ce; */
	color: #e0463c;
}
/* CLOSE MAIN */
/* FOOTER */
.footer {
	background-color: #2B3035;
}
/* CLOSE FOOTER */
.social-list {
	padding-top: 40px;
}
.icon-github, .icon-linkedin, .icon-twitter, .icon-free-code-camp, .icon-reddit {
	display: inline-block;
	width: 2em;
	height: 2em;
	color: gray;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.nav-link:hover {
	color:hsla(334, 59%, 60%);
	transition: 1.5s ease;
}
/* .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
  }
   */
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
	font-size: 32px;
	color: red;
  }
  ========================================== */
/*   
  .icon-free-code-camp {
	width: 1.2861328125em;
  } */