* { box-sizing: border-box; }
/* 9/17 SUCCESS!!!! I want to make these into little stars and sprinkle them across the page. They will have varying twinkle speeds*/
.myAnim {
    border: 1px solid blue;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    animation: myAnim 2s ease 0s infinite normal forwards;
}


@keyframes myAnim {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }

.change {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.change:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 3s ease-in;
}
.sunset-sky {
  background: linear-gradient(360deg, hsla(344, 75%, 66%, 1) 0%, hsla(334, 59%, 60%, 1) 9%, hsla(321, 47%, 54%, 1) 19%, hsla(306, 42%, 47%, 1) 31%, hsla(291, 49%, 44%, 1) 42%, hsla(279, 58%, 44%, 1) 54%, hsla(270, 68%, 43%, 1) 64%, hsla(272, 82%, 37%, 1) 75%, hsla(275, 79%, 30%, 1) 87%, hsla(276, 71%, 25%, 1) 97%);
}
.sun {
  height: 350px;
  width: 350px;
  border: 1px solid orange;
  background-image: radial-gradient(circle, hsla(33, 94%, 57%, 1) 35%, hsla(333, 100%, 53%, 1) 100%);;
  border-radius: 50%;
}

.triangle {
  height: 0px;
  width: 0px;
  border: 150px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* make some borders around the list and see what you can do that's new */

.top-nav-bar-item {
  border: 1px solid gray;
  border-radius: 4px;
}
.top-nav-bar-item a {
  text-decoration: none;
}
.top-nav-bar-item:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}